Arquitectura/05. EUREKABANK_SOAP_JAVA/0.2 CLIESC/02. CLIENTE ESCRITORIO/WSEurekaClient/xml-resources/web-service-references/WSEureka/wsdl/localhost_8080/WS_Eureka/WSEureka.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.monster.edu.ec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.monster.edu.ec/">

<xs:element name="movimiento" type="tns:movimiento"/>

<xs:element name="regDepósito" type="tns:regDepósito"/>

<xs:element name="regDepósitoResponse" type="tns:regDepósitoResponse"/>

<xs:element name="traerMovimientos" type="tns:traerMovimientos"/>

<xs:element name="traerMovimientosResponse" type="tns:traerMovimientosResponse"/>

<xs:complexType name="regDepósito">
<xs:sequence>
<xs:element name="cuenta" type="xs:string" minOccurs="0"/>
<xs:element name="importe" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="regDepósitoResponse">
<xs:sequence>
<xs:element name="estado" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traerMovimientos">
<xs:sequence>
<xs:element name="cuenta" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traerMovimientosResponse">
<xs:sequence>
<xs:element name="movimiento" type="tns:movimiento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="movimiento">
<xs:sequence>
<xs:element name="accion" type="xs:string" minOccurs="0"/>
<xs:element name="cuenta" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
<xs:element name="importe" type="xs:double"/>
<xs:element name="nromov" type="xs:int"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>